:root {
    --std-btn-padding: 10px 20px;
    --std-btn-font: Verdana, sans-serif;
    --std-btn-font-size: 16px;
    --std-btn-color: black;
    --std-button-text: white;
    --std-button-cursor: pointer;
    --std-btn-hover-color: rgb(80, 80, 80);
    --std-btn-margin: 1%;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(40, 200, 208);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}

footer {
    flex-shrink: 0;
    padding: 5px 0;
    margin-top: auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    padding: 5px;
}

.sign-in-btn {
    display: flex;
    padding: var(--std-btn-padding);
    font-family: var(--std-btn-font);
    font-size: var(--std-btn-font-size);
    background-color: var(--std-btn-color);
    color: var(--std-button-text);
    cursor: var(--std-button-cursor);
    margin: var(--std-btn-margin);
}

.sign-in-btn .spotify-logo {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.upload-json-btn {
    padding: var(--std-btn-padding);
    font-family: var(--std-btn-font);
    font-size: var(--std-btn-font-size);
    background-color: var(--std-btn-color);
    color: var(--std-button-text);
    cursor: var(--std-button-cursor);
    margin: var(--std-btn-margin);
    white-space: nowrap;
}

.sign-in-btn:hover, .upload-json-btn:hover {
    background-color: var(--std-btn-hover-color);
}

.supplement-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.records-btn, .matchup-btn {
    display: flex;
    padding: var(--std-btn-padding);
    font-family: var(--std-btn-font);
    font-size: var(--std-btn-font-size);
    background-color: var(--std-btn-color);
    color: var(--std-button-text);
    cursor: var(--std-button-cursor);
    margin: var(--std-btn-margin);
    white-space: nowrap;
}

.start-btn {
    display: flex;
    padding: var(--std-btn-padding);
    font-family: var(--std-btn-font);
    font-size: 40px;
    background-color: var(--std-btn-color);
    color: var(--std-button-text);
    cursor: var(--std-button-cursor);
    margin: var(--std-btn-margin);
}

.head-to-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.matchup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.song1-btn {
    margin-right: 10%;
}

.song2-btn {
    margin-left: 10%;
}
